<!-- wp:template-part {"slug":"header","tagName":"header","className":"ren-header"} /-->

<!-- wp:group {"tagName":"main","className":"ren-home","style":{"spacing":{"padding":{"top":"3.5rem","bottom":"var:custom|spacing|section-gap","left":"1.5rem","right":"1.5rem"}}},"layout":{"type":"constrained","contentSize":"1280px"}} -->
<main class="wp-block-group ren-home" style="padding-top:3.5rem;padding-right:1.5rem;padding-bottom:var(--wp--custom--spacing--section-gap);padding-left:1.5rem">

	<!-- wp:group {"className":"ren-content-left ren-home-hero-wrap"} -->
	<div class="wp-block-group ren-content-left ren-home-hero-wrap">
		<!-- wp:group {"className":"ren-post-header"} -->
		<div class="wp-block-group ren-post-header">
			<!-- wp:group {"className":"ren-post-header__inner","style":{"spacing":{"padding":{"left":"1.5rem","right":"1.5rem"}}},"layout":{"type":"constrained","contentSize":"1280px"}} -->
			<div class="wp-block-group ren-post-header__inner" style="padding-right:1.5rem;padding-left:1.5rem">
				<!-- wp:shortcode -->
				[ren_page_heading]
				<!-- /wp:shortcode -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"className":"ren-home-content","layout":{"type":"constrained","contentSize":"1280px"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
